@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

h1 {
  font-size: 40px;
  padding-left: 30px;
  margin: 0 auto;
  color: rgb(11, 11, 129);
}

i {
  padding: 20px;
}

i:hover {
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid rgb(11, 11, 129);
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo-link {
  text-decoration: none;
  text-transform: uppercase;
}

.links-container {
  display: flex;
}

.links {
  text-decoration: none;
  color: rgb(113, 113, 119); 
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 15px; 
}

.links:hover {
  background-color: rgb(233, 231, 231);
}


.nav-bar {
  display: flex;
}
