.product-banner {
  background-image: url('https://res.cloudinary.com/radiscipio/image/upload/v1570559292/khzgmrragr8cw26bhy0l.jpg');
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.grooming {
  font-size: 37px;
  font-family: 'Poppins', sans-serif;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  display: flex;
  height: 35%;
  width: 35%;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.description {
  /* display: none; */
  padding: 5px;
}

.name-and-price {
  font-size: 22px;
  padding: 5px;
}

.cart-button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  height: 25px;
  width: 150px;
  border-radius: 20px;
  color: white;
  background-color: rgb(11, 11, 129);
}

.cart-button:hover {
  cursor: pointer;
}